.about h1, h3{
    text-align: center;
}
.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me{
    width: 100;
    aspect-ratio: 1.5/2;
    border-radius: 2rem;
    background-image: linear-gradient(75deg,#00c4cc, #6420ff, transparent);
    display: grid;
    place-items: center;

}

.about__me-img{
    border-radius: 2rem;
    aspect-ratio: 1.5/2;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-img:hover{
    transform: rotate(0);
}
.about__cards{
   display: grid;
   grid-template-rows: repeat(3,1fr);
   gap: 1.5rem;
}
.about__card{
    /*background: var(--color-bg-variant); */
    background-image: linear-gradient(120deg,#00c4cc, #6420ff);
    border: 2px solid transparent;
    border-radius: 1rem 2.7rem;
    padding: 1rem;
    text-align: center;
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.about__icon{
    color: var(--color-bg-varient);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}


/*-------------------------- Media for Tablets---------------------------*/

@media screen and (max-width:1024px) {
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
        
    }
    .about__containt p{
        margin: 1rem 0 1.5rem;
    }
   
}

/*-------------------------- Media for Mobiles---------------------------*/

@media screen and (max-width:600px) {
    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__card{
        grid-template-columns: 1fr 1fr;
        gap:1rem;

    }
    .about__containt{
        text-align: center;
    }
    .about__containt p{
        margin: 1.5rem 0;
    }
}